<tr id="book_<%=book.id%>">
  <td><%= book.author %></td>
  <td><%= book.title %></td>
  <td><%=t "books.language.#{book.language}" %></td>
  <td><%=l book.created_at %></td>
  <td>
		<% if book.requests.count > 0 %>
			<%= link_to book_request_path(book), {class: "btn btn-info", remote: true, :'data-toggle'=> "modal", :'data-target'=>"#requests-modal"} do %>
				<i class="icon-list-alt"></i> <%=t 'books.requests' %>: <%= book.requests.count%>
			<% end %>
		<% else %>
			<%= link_to "#", class: "btn btn-info disabled" do %>
				<i class="icon-list-alt"></i> <%=t 'books.no_requests' %>
			<% end %>
		<% end %>

		<% if request_available?(book) %>
			<%= link_to book_request_path(book), {class: "btn btn-success", remote: true, method: 'post'} do %>
				<i class="icon-magnet"></i> <%=t 'books.request' %>
			<% end %>
		<% end %>

		<%= render partial: 'action_button', locals: {book: book} if owner?(book) %>
	</td>
</tr>