<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable('author', Book.human_attribute_name(:author) ) %> </th>
      <th><%= sortable('title', Book.human_attribute_name(:title) )%></th>
      <th><%= sortable('language', Book.human_attribute_name(:language) )%></th>
      <th><%= sortable('created_at', Book.human_attribute_name(:created_at) )%></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'book', collection: @books %>
  </tbody>
</table>

<div id="requests-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
